html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
 
.fondo {

}

.fondo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)); /* Ajusta el valor alpha (0.5) para cambiar la opacidad */
    z-index: -1; /* Coloca el fondo oscuro detrás del contenido principal */
}

/* Agrega un efecto de borde difuminado */
.fondo::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: url("../imgs/salud.png");
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2; /* Coloca el fondo difuminado detrás del fondo oscuro */
}

.top-2{
margin-top: 0.4rem;
}